@import "tailwindcss";
@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/css/preset.css";

@source '../node_modules/fumadocs-ui/dist/**/*.js';

/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
    cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
    cursor: default;
}

@theme {
    --color-fd-ring: var(--color-orange-400);
    --color-fd-primary: var(--color-orange-400);
}

.dark {
    --color-fd-ring: var(--color-orange-300);
    --color-fd-primary: var(--color-orange-300);
}

/* article a:not(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a) {
  @apply no-underline;
  color: var(--color-fd-primary);
} */
