@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@source '../node_modules/fumadocs-ui/dist/**/*.js';

/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
    cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
    cursor: default;
}

@theme {
    --color-fd-ring: hsl(221.2,83.2%,53.3%);
    --color-fd-primary: hsl(221.2,83.2%,53.3%);
}

.dark {
    --color-fd-ring: hsl(217.2,91.2%,59.8%);
    --color-fd-primary: hsl(217.2,91.2%,59.8%);
}